# Automated Documentation
docs/build/

# Datasets
data/

# Models
models/

# Virtual env
.venv/

# Tensorboard logs
mia/logs

# Output files
mia/*.csv

__pycache__/

# My temporary test file(s)
test.py

